.search {
    height: 35px;
    border-radius: 100px;
    padding: 0 10px;
    margin: 10px;
    outline: none;
    color: #4f4f50;
    background-color: #F2F2F2;
    width: 100%;
    max-width: 400px;
    text-align: center;
    font-size: 18px;
    font-family: inherit;
    font-weight: bold;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}